// Адаптивность
// 320-639
@media (max-width: 639px) {
  .nav {
    &__list {
      left: -100%;
      width: 100%;
      height: 100vh;
      padding-top: 60px;
    }
  }
  .burger {
    display: block;
    position: relative;
    z-index: 1200;
  }
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  body.menu-open {
    overflow: hidden;
    .header {
      z-index: 40;
    }
  }
}

// 640-1023
@media (min-width: 640px) and (max-width: 1023px) {
  .burger {
    display: block;
    position: relative;
    z-index: 1200;
  }
  .cards__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main {
    flex-grow: 1;
  }
}

// 1024-1279
@media (min-width: 1024px) and (max-width: 1279px) {
  .burger {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .cards__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main {
    flex-grow: 1;
  }
}

// 1280 and more
@media (min-width: 1280px) {
  .burger {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .cards__grid {
    grid-template-columns: repeat(5, 1fr);
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .main {
    flex-grow: 1;
  }
}
